@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 스크롤바의 너비 */
body::-webkit-scrollbar {
    width: 6px;
}

/* 스크롤바 길이, 색상 */
body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #6d6d6d; /* 스크롤바의 색상 */

    border-radius: 10px;
}

/* 스크롤바 뒷 배경 색상*/
body::-webkit-scrollbar-track {
    background: #2f2f2f;
}

body {
    margin: 0;
    padding: 0;
}

/* 헤더 메뉴 전체 */
header.fxnull-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 0 100px;
    position: relative;
}

/* 헤더 왼쪽 */
div.header-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* 헤더 로고 */
a.logo-text {
    font-family: 'OAGothic-ExtraBold';
    text-decoration: none;
    color: #c7ef1a;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1.5px;
    height: 0;
}

/* 헤더 로고 호버 시 */
div:hover > a {
    color: #ffffff;
}

/* 2024 PORTFOLIO */
p.header-deco {
    margin-left: 95px;
    font-family: 'Pretendard-Regular';
    text-decoration: none;
    color: #f2ffbf;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.5px;
    opacity: 20%;
    height: 0;
}

/* 헤더 메뉴 플렉스 */
div.header-menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* 헤더 메뉴 밑줄제거 */
li {
    display: inline-block;
}

/* 헤더 메뉴 호버 시 */
li:hover > a {
    color: #c7ef1a;
}

/* 헤더 메뉴 기본설정 없앰 */
a.menu-item {
    font-family: 'Pretendard-Regular';
    font-weight: 500;
    font-size: 14px;
    color: #949494;
    text-decoration: none;
}