@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 스크롤바의 너비 */
body::-webkit-scrollbar {
    width: 6px;
}

/* 스크롤바 길이, 색상 */
body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #6d6d6d; /* 스크롤바의 색상 */

    border-radius: 10px;
}

/* 스크롤바 뒷 배경 색상*/
body::-webkit-scrollbar-track {
    background: #2f2f2f;
}

body {
    margin: 0;
    padding: 0;
}

/* 헤더 메뉴 전체 */
header.fxnull-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 0 100px;
    position: relative;
}

/* 헤더 로고 */
a.logo-text {
    font-family: 'OAGothic-ExtraBold';
    text-decoration: none;
    color: #c7ef1a;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1.5px;
}

/* 헤더 로고 호버 시 */
div:hover > a {
    color: #ffffff;
}

/* 헤더 메뉴 플렉스 */
div.header-menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* 헤더 메뉴 밑줄제거 */
li {
    display: inline-block;
}

/* 헤더 메뉴 호버 시 */
li:hover > a {
    color: #c7ef1a;
}

/* 헤더 메뉴 기본설정 없앰 */
a.menu-item {
    font-family: 'Pretendard-Regular';
    color: #949494;
    text-decoration: none;
}

/* 메인 섹션 컬러 */
section.main-section{
    width: 100%;
    height: 960px;
    background-color: #131313;
}

/* 메인 영상 */
video.smog {
    width: 100%;
    height: 960px;
    object-fit: fill;
    position: absolute;
    opacity: 40%;
}

/* 타이틀, 버튼 플렉스 */
div.main-page {
    margin-top: 180px;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-content: end;
    align-items: flex-end;
}

/* 메인 타이틀 플렉스 */
div.main-title {
    display: flex;
    justify-content: center;
    width: 1240px;
    height: 540px;
}

/* 메인 타이틀 텍스트 */
p.main-title-text {
    font-family: 'OAGothic-ExtraBold';
    position: relative;
    color: #ffffff;
    font-size: 85px;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

/* 아래로 버튼 스타일 설정 */
a.arrow {
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 35px;
    position: relative;
    color: #ffffff;
}

/* 아래로 버튼 호버 시 */
div:hover > a.arrow {
    color: #c7ef1a;
    border: 1px solid #c7ef1a;
}

/* 소개 섹션 플렉스 */
section.introduction-section {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 680px;
}

/* 소개 전체 */
div.introduce-me {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    width: 1240px;
}

/* 소개 타이틀 전체 */
div.introduce-title {
}

/* 타이틀 */
p.im {
    font-family: 'OAGothic-ExtraBold';
    font-size: 80px;
    color: #c7ef1a;
    letter-spacing: -1.5px;
    height: 90px;
}

/* 타이틀 서브 */
p.title-sub {
    margin-left: 5px;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    font-weight: 400;
    color: #b2b2b2;
    letter-spacing: -1px;
}

/* 소개 인사 */
div.introduce-say {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 18px;
}

/* 인사 영어 */
p.sub {
    font-family: 'OAGothic-ExtraBold';
    font-size: 35px;
    color: #c7ef1a;
    letter-spacing: -1.5px;
    height: 40px;
}

/* 인사 한국어 */
p.comment {
    font-family: 'Pretendard-Regular';
    margin-left: 1px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #b2b2b2;
}

/* 상세 소개 멘트 */
div.introduce-contents-detail {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

/* 코멘트 한 묶음 */
div.comment-set {
    width: 450px;
    margin-left: 51px;
}

/* 타이틀 */
p.why {
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #686868;
    height: 0;
}

/* 본문 */
p.why-reason {
    font-family: 'Pretendard-Regular';
    margin-top: 35px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #b2b2b2;
}

section.portfolio-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background: #131313;
}

div.portfolio-contents {
    padding-top: 100px;
}

p.portfolio-title {
    font-family: 'OAGothic-ExtraBold';
    width: 1240px;
    font-size: 35px;
    color: #c7ef1a;
    letter-spacing: -1.5px;
    height: 0;
}

/* slider-wrap */
.slider-wrap {
    margin-top:80px;
    width: 1240px;
    height: 585px;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* 이미지가 보이는 영역 */
.slider-img {
    width: 960px;
    height: 1000px;
    overflow: hidden;
}

/* 전체 이미지를 감싸고 있는 부모 : 움직이는 영역 */
.slider-inner {
    display: flex;
    flex-wrap: wrap;
    width: 4000px;
    height: auto;
}

div.slider-btn {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

/* 슬라이더 버튼 */
.slider-btn a {
    position: absolute;
    margin-top: 250px;
    width: 30px;
    color: #fff;
}

.slider-btn a:hover {
    color: #c7ef1a;
}

.slider-btn a.prev {

    left: 0;
}

.slider-btn a.next {
    right: 0;
}

div.portfolio-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

div.portfolio-info-form {
    width: 450px;
}

p.portfolio-info-title {
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -0.5px;
    height: 20px;
}

p.portfolio-info-detail {
    font-family: 'Pretendard-Regular';
    font-weight: 200;
    font-size: 18px;
    color: #b2b2b2;
    letter-spacing: -0.5px;
    height: 0;
}