/* 메인 섹션 컬러 */
section.main-section{
    width: 100%;
    height: 960px;
    background-color: #131313;
}

/* 메인 영상 */
video.smog {
    width: 100%;
    height: 960px;
    object-fit: fill;
    position: absolute;
    opacity: 40%;
}

/* 타이틀, 버튼 플렉스 */
div.main-page {
    margin-top: 180px;
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-content: end;
    align-items: flex-end;
}

/* 메인 타이틀 플렉스 */
div.main-title {
    display: flex;
    justify-content: center;
    width: 1240px;
    height: 540px;
}

/* 메인 타이틀 텍스트 */
p.main-title-text {
    font-family: 'OAGothic-ExtraBold';
    position: relative;
    color: #ffffff;
    font-size: 85px;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

/* 아래로 버튼 스타일 설정 */
a.arrow {
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 35px;
    position: relative;
    color: #ffffff;
}

/* 아래로 버튼 호버 시 */
div:hover > a.arrow {
    color: #c7ef1a;
    border: 1px solid #c7ef1a;
}

/* 소개 섹션 플렉스 */
section.introduction-section {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 680px;
}

/* 소개 전체 */
div.introduce-me {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    width: 1240px;
}

/* 소개 타이틀 전체 */
div.introduce-title {
}

/* 타이틀 */
p.im {
    font-family: 'OAGothic-ExtraBold';
    font-size: 80px;
    color: #c7ef1a;
    letter-spacing: -1.5px;
    height: 90px;
}

/* 타이틀 서브 */
p.title-sub {
    margin-left: 5px;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    font-weight: 400;
    color: #b2b2b2;
    letter-spacing: -1px;
}

/* 소개 인사 */
div.introduce-say {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 18px;
}

/* 인사 영어 */
p.sub {
    font-family: 'OAGothic-ExtraBold';
    font-size: 35px;
    color: #c7ef1a;
    letter-spacing: -1.5px;
    height: 40px;
}

/* 인사 한국어 */
p.comment {
    font-family: 'Pretendard-Regular';
    margin-left: 1px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #b2b2b2;
}

/* 상세 소개 멘트 */
div.introduce-contents-detail {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

/* 코멘트 한 묶음 */
div.comment-set {
    width: 450px;
    margin-left: 51px;
}

/* 타이틀 */
p.why {
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #686868;
    height: 0;
}

/* 본문 */
p.why-reason {
    font-family: 'Pretendard-Regular';
    margin-top: 35px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #b2b2b2;
}

/* 포트폴리오 섹션 */
section.portfolio-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background: #131313;
}

/* 포트폴리오 내용 */
div.portfolio-contents {
    padding-top: 100px;
}

/* 포트폴리오 타이틀 */
p.portfolio-title {
    font-family: 'OAGothic-ExtraBold';
    width: 1240px;
    font-size: 35px;
    color: #c7ef1a;
    letter-spacing: -1.5px;
    height: 0;
}

/* 슬라이더 전체 영역 */
.slider-wrap {
    margin-top:80px;
    width: 1240px;
    height: 585px;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* 이미지가 보이는 영역 */
.slider-img {
    width: 960px;
    height: 750px;
    overflow: hidden;
}

/* 전체 이미지를 감싸고 있는 부모 : 움직이는 영역 */
.slider-inner {
    display: flex;
    flex-wrap: wrap;
    width: 4000px;
    height: auto;
}

/* 슬라이더 버튼 전체 */
div.slider-btn {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

/* 슬라이더 버튼 */
.slider-btn a {
    position: absolute;
    margin-top: 250px;
    width: 30px;
    color: #fff;
}

/* 슬라이더 버튼 호버 시 */
.slider-btn a:hover {
    color: #c7ef1a;
}

/* 슬라이더 버튼 : 이전 */
.slider-btn a.prev {
    left: 0;
}

/* 슬라이더 버튼 : 다음 */
.slider-btn a.next {
    right: 0;
}

/* 포트폴리오 설명 플렉스 */
div.portfolio-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

/* 포트폴리오 설명 가로 사이즈 */
div.portfolio-info-form {
    width: 450px;
}

/* 포트폴리오 설명 타이틀 */
p.portfolio-info-title {
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -0.5px;
    height: 20px;
}

/* 포트폴리오 설명 */
p.portfolio-info-detail {
    font-family: 'Pretendard-Regular';
    font-weight: 200;
    font-size: 18px;
    color: #b2b2b2;
    letter-spacing: -0.5px;
    height: 0;
}

/* 스터디 섹션 */
section.study-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

/* 스터디 내용 */
div.study-contents {
    margin-top: 100px;
    width: 960px;
}

/* 스터디 타이틀 */
p.study-title {
    font-family: 'OAGothic-ExtraBold';
    width: 960px;
    font-size: 35px;
    color: #c7ef1a;
    letter-spacing: -1.5px;
}

/* 토끼 이미지 */
img.me {
    width: 380px;
    border-radius: 10px;
}

/* 내용 플렉스 */
div.study-detail {
    display: flex;
    flex-direction: row;
}

/* 내용 오른쪽 */
div.study-detail-right {
    margin-left: 40px;
}

/* 공부 소타이틀 */
p.study-sub-title {
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 20px;
    color: #686868;
    letter-spacing: -0.5px;
}

/* 내용 상세 */
p.study-contents-detail {
    width: 600px;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #b2b2b2;
}

/* 구분선 */
div.line {
    margin: 30px 0 30px 0;
    height: 1px;
    width: 500px;
    background-color: #c7c7c7;
}

/* 아이콘 너비 */
div.study-icons {
    width: 300px;
}

/* 아이콘 정렬 */
div.icon-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 아이콘 버튼 */
a.icon-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #686868;
    background-color: #eaeaea;
    border-radius: 40px;
    text-decoration: none;
}

/* 아이콘 텍스트 */
p.icon-text {
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #686868;
    height: 0;
}

/* 아이콘 호버 시 버튼 색 */
a.icon-btn:hover {
    background-color: #c7ef1a;
    color: #ffffff;
}

/* 아이콘 호버 시 텍스트 색 */
a.icon-btn:hover p.icon-text {
    color: #ffffff;
}

/* 커넥트 섹션 */
section.contact-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
    background-color: #2f2f2f;
}

/* 컨텐츠 영역 */
div.contact-contents {
    width: 1240px;
    margin-top: 50px;
}

/* 커넥트 정렬 */
div.contact-contents-align {
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 컨텐츠 로고 */
a.contact-logo {
    display: flex;
    justify-content: start;
    font-family: 'OAGothic-ExtraBold';
    font-size: 25px;
    letter-spacing: 1.5px;
    color: #4c4c4c;
    text-decoration: none;
}

a.contact-logo:hover {
    color: #4c4c4c;
}

/* 엔딩멘트 */
p.ending {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #808080;
    height: 0;
}

a.top-btn {
    font-family: 'Pretendard-Regular';
    text-decoration: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #686868;
    color: #2f2f2f;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}