/* 스크롤바의 너비 */
body::-webkit-scrollbar {
    width: 5px;
}

/* 스크롤바 길이, 색상 */
body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #2f2f2f; /* 스크롤바의 색상 */

    border-radius: 10px;
}

/* 스크롤바 뒷 배경 색상*/
body::-webkit-scrollbar-track {
    background: #131313;
}

body {
    margin: 0;
    padding: 0;
}

/* 헤더 메뉴 전체 */
header.fxnull-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 0 100px;
    position: relative;
}

/* 헤더 로고 */
a.logo-text {
    text-decoration: none;
    color: #c7ef1a;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
}

/* 헤더 로고 호버 시 */
div:hover > a {
    color: #ffffff;
}

/* 헤더 메뉴 플렉스 */
div.header-menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* 헤더 메뉴 밑줄제거 */
li {
    display: inline-block;
}

/* 헤더 메뉴 호버 시 */
li:hover > a {
    color: #c7ef1a;
}

/* 헤더 메뉴 기본설정 없앰 */
a.menu-item {
    color: #949494;
    text-decoration: none;
}

/* 메인 섹션 컬러 */
section.main-section{
    height: 960px;
    background-color: #131313;
}

/* 메인 영상 */
video.smog {
    width: 100%;
    height: 960px;
    object-fit: fill;
    position: absolute;
    opacity: 40%;
}

/* 메인 영역 플렉스 */
div.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: 960px;
    padding-bottom: 85px;
}

/* 메인 타이틀 */
p.main-title {
    position: relative;
    color: #ffffff;
    font-size: 100px;
    letter-spacing: -1.5px;
    line-height: 1.2;
    font-weight: 800;
}

/* 소개 전체 */
div.introduce-me {
    padding-top: 100px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 타이틀 */
p.im {
    font-size: 90px;
    font-weight: 700;
    color: #c7ef1a;
    letter-spacing: -1.5px;
}

i.sub {
    font-size: 24px;
    font-weight: 400;
    color: #686868;
    letter-spacing: -1.5px;
}